# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Entorno virtual
venv/
env/
venv_fcalc_web/

# Archivos de base de datos
db.sqlite3

# Archivos de configuración locales
*.env

# Archivos de VS Code
.vscode/

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos estáticos generados
staticfiles/
media/

#otros
requirements.txt
instrucciones.md
readme.md

